@import "../common";

.entry {

  .example {
    overflow: visible;
    background-size: contain;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position-y: 0;
    padding-top: 20px;
    margin-bottom: 30px;
    border-top: 4px solid #f01260;
    border-bottom: 4px solid #c24894;
    border-radius: 6px;
    box-shadow: 0 0 39px 0 rgba(0, 0, 0, .1);

    .assignment-title {
      font-size: 1.75rem;
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #e02473;
      max-width: 512px;
      width: 100%;
      height: 92px;
      display: flex;
      align-items: center;
      position: relative;
      padding: 0 20px 0 100px;
    }

    .assignment-title::before {
      content: '';
      margin-left: 10px;
      width: 75px;
      height: 75px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      background-image: url(/wp-content/themes/kresimira/img/primjer_ikona.svg);
    }

    .example-text {
      padding: 20px 30px 20px 30px;
      overflow: hidden;

      .alignceter {
        text-align: center;
      }
    }
  }
}