.assignment-container {
	h2 {
		position: relative;
		font-weight: 800 !important;
		color: #555 !important;
		margin: 0 0 30px 0 !important;
		padding-top: 0 !important;
		z-index: 0;
		font-size: 2.1rem;
	}

	h2:after {
		content: " ";
		background-image: url(/wp-content/themes/kresimira/img/zadatak-svg.svg);
		position: absolute;
		width: 228px;
		height: 43px;
		top: 24px;
		left: -14px;
		z-index: -1;
	}

	.inline {
		display: inline-block !important;
	}

	.wrapper-answer-input {
		width: 250px;
		display: inline-block;
		margin: 10px 10px 0 0;
		position: relative;

		.answer-input {
			width: 100%;
			height: 46px;
			border-radius: 3px;
			padding: 0 20px;
			background-color: #ececec;
			border: 2px solid #ececec;
		}
	}

	.answer-check {
		border-radius: 3px;
		height: 46px;
		padding: 0 20px;
		border: none;
		background-color: #69b11b;
		box-shadow: 0 16px 29px 0 rgba(105, 177, 27, .49);
		font-size: .75rem;
		font-weight: 600;
		letter-spacing: .5px;
		color: #fff;
		text-transform: uppercase;
	}

	.a-btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 46px;
		min-width: 46px;
		border: none;
		font-size: .75rem;
		font-weight: 600;
		letter-spacing: .5px;
		color: #fff;
		text-transform: uppercase;
		border-radius: 4px;
		transition: all .2s linear;
		cursor: pointer;
	}

	.a-btn:hover {
		margin-top: 5px;
		margin-bottom: -5px;
	}

	.button-holder {
		display: flex;
		width: 100%;
		margin-top: 30px;
	}

	.answer-check {
		border-radius: 3px;
		height: 46px;
		padding: 0 20px;
		border: none;
		background-color: #69b11b;
		box-shadow: 0 16px 29px 0 rgba(105, 177, 27, .49);
		font-size: .75rem;
		font-weight: 600;
		letter-spacing: .5px;
		color: #fff;
		text-transform: uppercase;
		width: 170px;
	}

	.answer-hint {
		display: inline-flex;
		background-color: #fcca17;
		box-shadow: 0 16px 29px 0 rgba(252, 202, 23, .55);
	}

	.answer-solution {
		background-color: #6a3fbe;
		box-shadow: 0 16px 29px 0 rgba(106, 63, 190, .49);
	}

	.answer-reset {
		background-color: #2395ee;
		box-shadow: 0 16px 29px 0 rgba(35, 149, 238, .49);
	}

	.assignment-container-options {
		display: flex;
		margin-left: 15px;

		button {
			margin-right: 15px;
		}
	}
}

